@media screen and (max-width: 640px) {
  body {
    text-align: center;
  }
}

.defaultContainerFormat {
  max-width: var(--chakra-sizes-container-xl);
  margin: auto;
  padding-top: var(--chakra-space-14);
  padding-bottom: var(--chakra-space-14);
}

@media screen and (max-width: 1280px) {
  .defaultContainerFormat {
    padding: var(--chakra-space-14) var(--chakra-space-3);
  }
}
